.header__lang-link_language_ru {
	color: white;
	text-decoration: underline;
	padding: 0 0 6px;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.2;
}

@media screen and (max-width: 475px) {
	.header__lang-link_language_ru {
		font-size: 1.1rem;
		line-height: 1.2;
	}
}
