.place__title {
	max-width: 460px;
	width: 100%;
	color: white;
	font-style: normal;
	font-weight: 900;
	font-size: 4.5rem;
	line-height: 1.1;
	margin: 0;
}

@media screen and (max-width: 1024px) {
	.place__title {
		max-width: 440px;
	}
}

@media screen and (max-width: 768px) {
	.place__title {
		max-width: 340px;
		font-size: 2.6rem;
	}
}

@media screen and (max-width: 475px) {
	.place__title {
		max-width: 288px;
		font-size: 2rem;
		margin: 0 16px 0;
	}
}
