.places {
	max-width: 984px;
	margin: 0 auto;
	padding-top: 92px;
	display: grid;
	gap: 80px;
	box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
	.places {
		max-width: calc(100% - 96px);
		margin: 0 48px;
	}
}


@media screen and (max-width: 768px) {
	.places {
		max-width: calc(100% - 48px);
		padding-top: 88px;
		margin: 0 24px;
		gap: 73px;
	}
}

@media screen and (max-width: 475px) {
	.places {
		max-width: none;
		padding: 64px 0 0;
		margin: 0;
		gap: 50px;
	}
}

