.cover__overlay {
	width: 100%;
	height: 100%;
	background-image: url(../../../images/cover__background.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
}

.cover__overlay:hover {
	opacity: .2;
}
