.cover__background {
	color: white;
	max-width: 1184px;
	width: 100%;
	min-height: 740px;
	background-image: url(../../../images/cover__background.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 0;
	display: flex;
	text-decoration: none;
}

@media screen and (max-width: 1024px) {
	.cover__background {
		min-height: 640px;
	}
}

@media screen and (max-width: 768px) {
	.cover__background {
		min-height: 480px;
	}
}

@media screen and (max-width: 475px) {
	.cover__background {
		min-height: 200px;
	}
}
