.place {
	padding: 0;
	display: grid;
	gap: 48px 40px;
	grid-template-columns: 1fr 484px;
	box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
	.place {
		column-gap: 32px;
		grid-template-columns: 1fr 456px;
	}
}

@media screen and (max-width: 768px) {
	.place {
		column-gap: 28px;
		grid-template-columns: 1fr 352px;
	}
}

@media screen and (max-width: 630px) {
	.place {
		display: flex;
		flex-direction: column;
		gap: 32px;
		grid-template-columns: 320px;
	}
}
