.header__lang-links {
	max-width: calc(30px + 29px + 18px);
	width: 100%;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: end;
}

@media screen and (max-width: 475px) {
	.header__lang-links {
		max-width: calc(22px + 18px + 22px);
	}
}
